.logo {
    font-size: 40px;
    color: #fd5c63;
}

.form-control {
    border-radius: 0px;
    height: 50px;
    font-size: 18px;
}

.searchBar {
    padding: 0px;   
}

.searchContent {
    padding-right: 5px;
}